body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF; /* Azul */
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imagenes img {
    max-width: 45%;
    margin: 0 10px;
    border: 2px solid #007BFF; /* Borde azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
